@import '~normalize.css';

.html-editor div {
  padding-left: 20px;
}

.html-editor div:hover {
  background-color: aqua;
}

.parent {
  background-color: #ffffff;
}

.parent:hover > .child {
  background-color: #ffffff;
}

.parent:hover > .child:hover {
  background-color: #ff0000;
}
